#enchilada{
    position: relative;
}


/*img{*/
/*    z-index: -1;*/
/*}*/

#rowbox{
    width: 90%;
    height: 90%;
}

#map-name, #map-desc, #title, #pageNumber {
    color: whitesmoke;
    background: rgba(55,55,55,0.75);
    text-align: center;
}

#left-arrow, #right-arrow{
    color: white;
    background: rgba(55,55,55,0.75);
    /*text-align: center;*/
    /*width: 50%;*/
    border: gold;
    border-radius: 4px;
}



#map-desc{
    margin-bottom: 42px;
    /*display: none;*/
}

.hidemap{
    visibility: hidden;
}

.showmap{
    visibility: visible;
}

/*#left-div, #right-div, #center-div{*/
/*    border: solid   1px gold;*/
/*}*/
